html, body {
  padding: 0;
  margin: 0;
  background: #f5f5f5;
  font-size: 16px;
  font-family: Source Sans Pro, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  position: relative;
  min-height: 100vh;
}

*:focus {
  outline: 3px solid #add5ef;
}

p {
  line-height: 1.75rem;
}

input[type="text"].input {
  font-size: 16px;
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.input-wrapper {
  padding: .5rem 0;
}

.main-nav {
  padding-left: 0;
  list-style: none;
}

.main-nav > li {
  margin-right: 1rem;
  display: inline-block;
}

a.no-underline {
  text-decoration: none;
  display: flex;
}

#container {
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.mb-2 {
  margin-bottom: 1rem;
}

.title-1 {
  font-size: 48px;
}

.title-2 {
  font-size: 36px;
}

.title-3 {
  font-size: 32px;
}

.title-4 {
  font-size: 24px;
}

.title-5 {
  font-size: 22px;
}

.title-6 {
  font-size: 16px;
}

.title-wrapper {
  padding: 16px;
}

.product-wrapper {
  margin-bottom: 16px;
}

.card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .08);
  display: flex;
  align-items: center;
  width: 100%;
}

.card:hover, .card:focus {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, .15);
  transition: box-shadow .3s ease;
}

.card__detail {
  padding: 16px 12px;
}

.btn {
  font-size: 16px;
  padding: .5rem .75rem;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #cecece;
  text-decoration: none;
  color: #333;
}

.btn--circle {
  border-radius: 50%;
}

.btn--red {
  background-color: tomato;
  color: #fff;
  border-color: tomato;
}

.btn--blue {
  background-color: #2196f3;
  color: #fff;
  border-color: #2196f3;
}

.total {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.cart-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 3px;
  background: #fff;
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
}

.cart-item__remove-btn {
  position: absolute;
  top: -1rem;
  right: -1rem;
}

.cart-item__qty-input {
  width: 36px;
  font-size: 16px;
}

.product-info {
  display: flex;
}

.product-info__img-wrapper {
  margin-right: 1rem;
}

.product-info__img {
  max-height: 162px;
}

.image-preview {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, .3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-preview__img-wrapper img {
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
}

.coupon-form {
  padding: .25rem 1rem;
}

.coupon-form__action {
  display: flex;
  justify-content: flex-end;
}

.action-wrapper {
  padding: .25rem 1rem;
  display: flex;
  justify-content: flex-end;
}
